@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600');
:root {
    --darkest-color: #081e2c;
    --dark-color: #05273b;
    --semi-dark-color: #0a486b;
    --text-color-1: #65bce4;
    --text-color-2: #94d6f5;
    --hyperlink-color: #439467;
    --h2-font-size: 1.25rem;
}

html {
    background-color: var(--dark-color);
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-color);
}

.name-header {
    display: none;
}

a {
    color: var(--hyperlink-color);
}

.logo {
    width: 30%;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.hide-nav-mobile {
    display: none;
}

.hamburger-menu {
    margin-top: 1%;
    float: right;
    width: 20%;
    background-color: var(--dark-color);
}

.hide-mobile-menu-icon {
    width: 20%;
    height: 20%;
    margin-bottom: 5%;
}

nav ul {
    position: fixed;
    width: 42%;
    top: 0;
    right: 0;
    text-align: left;
    padding-left: 5%;
    background: var(--darkest-color);
    height: 100%;
    z-index: 1;
}

nav ul li a {
    color: var(--text-color-1);
    text-decoration: none;
    display: block;
    width: 100%;
    padding-bottom: 5%;
    background-color: var(--darkest-color);
}

nav ul li a:hover {
    background: inherit;
}

.footer {
    background-color: var(--darkest-color);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    font-size: 1vmax;
}

.footer-urls {
    margin: 0 auto;
}

@media only screen and (min-width: 1024px) {

    .footer {
        font-size: .8vmax;
    }

    .name-header {
        display: flex;
        color: var(--text-color-2);
    }

    nav ul {
        position: inherit;
        width: 100%;
        background: none;
        display: flex;
        padding-top: 0;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: var(--text-color-1);
        text-decoration: none;
        background: inherit;
        text-align: right;
        width: 60%;
        padding: 1em 2em;
    }

    nav ul li a:hover {
        background: inherit;
    }

    .logo {
        width: 80px;
    }

    .hide-nav-pc {
        display: none;
    }

    .show-nav-pc {
        margin: 0 auto 10% auto;
        display: block;
    }
}
/* STARS SECTION */
html::before,
html::after,
html::before,
html::after {
    content: "";
    color: transparent;
    display: flex;
    position: fixed;
    width: .25vmin;
    height: .25vmin;
    top: 0;
    left: 0;
}

html::before {
    box-shadow: 93vw 63vh .3vmin rgba(255,255,255,.8),
                3vw 17vh .3vmin rgba(255,255,255,.8),
                28vw 85vh .3vmin rgba(255,255,255,.8),
                97vw 82vh .3vmin rgba(255,255,255,.8),
                55vw 83vh .3vmin rgba(255,255,255,.8),
                74vw 72vh .3vmin rgba(255,255,255,.8),
                84vw 11vh .3vmin rgba(255,255,255,.8),
                32vw 6vh .3vmin rgba(255,255,255,.8),
                45vw 92vh .3vmin rgba(255,255,255,.8),
                98vw 57vh .3vmin rgba(255,255,255,.8),
                63vw 98vh .3vmin rgba(255,255,255,.8),
                90vw 46vh .3vmin rgba(255,255,255,.8),
                50vw 86vh .3vmin rgba(255,255,255,.8),
                38vw 21vh .3vmin rgba(255,255,255,.8),
                74vw 2vh .3vmin rgba(255,255,255,.8),
                89vw 22vh .3vmin rgba(255,255,255,.8),
                39vw 0vh .3vmin rgba(255,255,255,.8),
                25vw 89vh .3vmin rgba(255,255,255,.8),
                54vw 58vh .3vmin rgba(255,255,255,.8),
                81vw 39vh .3vmin rgba(255,255,255,.8),
                51vw 8vh .3vmin rgba(255,255,255,.8),
                24vw 56vh .3vmin rgba(255,255,255,.8),
                50vw 23vh .3vmin rgba(255,255,255,.8),
                62vw 34vh .3vmin rgba(255,255,255,.8),
                10vw 77vh .3vmin rgba(255,255,255,.8),
                92vw 45vh .3vmin rgba(255,255,255,.8),
                70vw 40vh .3vmin rgba(255,255,255,.8),
                2vw 53vh .3vmin rgba(255,255,255,.8),
                3vw 54vh .3vmin rgba(255,255,255,.8),
                18vw 21vh .3vmin rgba(255,255,255,.8),
                48vw 47vh .3vmin rgba(255,255,255,.8),
                83vw 96vh .3vmin rgba(255,255,255,.8),
                26vw 32vh .3vmin rgba(255,255,255,.8),
                46vw 9vh .3vmin rgba(255,255,255,.8),
                2vw 13vh .3vmin rgba(255,255,255,.8),
                29vw 63vh .3vmin rgba(255,255,255,.8),
                17vw 90vh .3vmin rgba(255,255,255,.8),
                78vw 9vh .3vmin rgba(255,255,255,.8),
                15vw 39vh .3vmin rgba(255,255,255,.8),
                90vw 5vh .3vmin rgba(255,255,255,.8);
  }
  
html::after { 
    box-shadow: 67vw 35vh .2vmin .1vmin rgba(255,200,200,.8),
                89vw 13vh .2vmin .1vmin rgba(255,200,200,.8),
                77vw 62vh .2vmin .1vmin rgba(255,200,200,.8),
                1vw 74vh .2vmin .1vmin rgba(255,200,200,.8),
                38vw 15vh .2vmin .1vmin rgba(255,200,200,.8),
                79vw 10vh .2vmin .1vmin rgba(255,200,200,.8),
                16vw 47vh .2vmin .1vmin rgba(255,200,200,.8),
                74vw 71vh .2vmin .1vmin rgba(255,200,200,.8),
                30vw 96vh .2vmin .1vmin rgba(255,200,200,.8),
                13vw 98vh .2vmin .1vmin rgba(255,200,200,.8),
                9vw 40vh .2vmin .1vmin rgba(255,200,200,.8),
                9vw 71vh .2vmin .1vmin rgba(255,200,200,.8),
                12vw 93vh .2vmin .1vmin rgba(255,200,200,.8),
                91vw 26vh .2vmin .1vmin rgba(255,200,200,.8),
                73vw 48vh .2vmin .1vmin rgba(255,200,200,.8),
                61vw 46vh .2vmin .1vmin rgba(255,200,200,.8),
                20vw 3vh .2vmin .1vmin rgba(255,200,200,.8),
                90vw 59vh .2vmin .1vmin rgba(255,200,200,.8),
                48vw 72vh .2vmin .1vmin rgba(255,200,200,.8),
                91vw 68vh .2vmin .1vmin rgba(255,200,200,.8);
  }